@model IEnumerable<string>
@{Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
        <title>Quiz 12 model View Controller (Part 3)</title>
</head>
<h1 style="font-family: 'Eras ITC'; font-size: 24px; text-align: center; color: blanchedalmond;"> Quiz 12 model View Controller (Part 3)</h1>
<body>
    <ul style="list-style-type:none;">
        @foreach (string s in Model)
        {
        <li>@s</li>
        }
    </ul>
</body>
</html>
